@import "tailwindcss";
@plugin "flowbite/plugin";
@custom-variant dark (&:where(.dark, .dark *));
@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

/* Note: Hide scrollbar but keep scrolling capability (for left and right panel content scrolling) */
.scrollbar-hidden {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
	display: none;
}
